html{
    height:100%
}

body {
    background-color: #222629;
}
/* @media screen and (max-width: 650px) {
    .title {
        font-size: 500%;
        display: none;
   }
   .smallTitle {
    font-size: 50%; 
   }
}

@media screen and (min-width: 650px) {
    .smallTitle {
        font-size: 50%;
        display: none;
   }
} */

#dropdown {
    position: fixed;
}
/* .main {
    border-color: black;
} */
.nav {
    font-family: 'Major Mono Display', monospace;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex; 
    height: 3.5rem;
    width: 100%;
    float: left;
    height: 10%;

} 

.title {
    font-size: 500%;
    color: #222629;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 3%;
    width: 3%;
    right: 0;
}

.para{
    color: #61892F;
    display: inline-flex;
    margin-left: 8%;
    position: relative;
    font-family: 'Major Mono Display', monospace;
    font-weight: bold;
    left: 0;
    width: 20vw;
}


/* .smallTitle {
    font-size: 500%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 1%;
    width: 10%;
    right: 0;
    color: #86C232;
} */

.navlink {
    display: inline-flex;
    margin-right: 10vw;
    right: 0;
    flex-direction:row;
    height: 10%;
    position: fixed;
}

.topnav {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 0.2vw;
    transition: background-size cubic-bezier(0,.5,0,1) 0.3s;
    color: #6B6E70;
    font-size: 40px;
    padding-left: 3%;
    padding-right: 3%;
    justify-content: flex-end;
    height: 70%;

}
  
  a:hover,
  a:focus {
    text-decoration: none;
    background-size: 100% 0.1vw;
}




/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #474B4F; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    font-family: 'Major Mono Display', monospace;
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    color: #61892F;
    font-weight: 100;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .dropdownBtn{
      right: 0;
      margin-right: 10%;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-right .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

@media screen and (max-width: 1100px) {
     a {
      display: none;
    }
}    

@media screen and (min-width: 1100px) {
    .hidden {
     display: none;
   }
}




