html {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #dcd5c7;
}

body {
  height: 100%;
}

.fullnav {
  background-color: #fbfaf2;
  padding-top: 0.5rem;
}

#content {
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  grid-gap: 10px;
  display: flex;
  flex-wrap: wrap;
}

#contactTitle {
  height: 11%;
}
.contentTitle {
  text-align: center;
  margin-top: 0.5%;
  font-size: 1.2rem;
}
#nextAbout {
  flex: 1 0 200px;
}

.workh3 {
  margin-top: 0%;
  margin-bottom: 4%;
  color: #161212;
  text-decoration: none;
}

@media (max-width: 600px) {
  .workContainer {
    flex-direction: column;
  }
}

.workContainer {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 15%;
}

.item {
  position: relative;
  overflow: hidden;
  

}

#collatz {
  width: auto;
  height: calc(100% / 2);
}

.item img {
  width: 100%; /* Adjusted to use percentage width */
  height: auto; /* Use auto height to maintain aspect ratio */

  transition: transform 0.3s ease;
}

.item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.item:hover img {
  transform: scale(1.01);
}

.item:hover .overlay {
  opacity: 1;
}

#dropdown {
  position: fixed;
}
/* .main {
    border-color: black;
} */
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  height: 3.5rem;
  width: 100%;
  float: left;
  height: 10%;
  right: 0;
  top: 0;
}

.links {
  padding-top: 1%;
  display: block;
  color: inherit;
  text-decoration: none;
}

.links:hover {
  text-decoration: underline;
}
.title {
  font-family: "Nova Mono", cursive;
  font-weight: 100;
  font-size: 450%;
  color: #45502a;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 1%;
  width: 3%;
  right: 0;
  height: 5%;
  line-height: 1;
}

.para {
  color: #161212;
  display: inline-flex;
  /* margin-left: 8%; */
  position: relative;
  font-family: "Major Mono Display", monospace;
  font-weight: bold;
  left: 0;
  left: 1%;
  width: 5%; /*TODO add width cos main page brokey lol */
}

.para2 {
  color: #161212;
  display: inline-flex;
  position: relative;
  font-family: "Major Mono Display", monospace;
  font-weight: bold;
  left: 0;
  width: 15rem;
}

/* .smallTitle {
    font-size: 500%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 1%;
    width: 10%;
    right: 0;
    color: #86C232;
} */

.projectShow {
  color: #161212;
  background-color: #fbfaf2 !important;
  height: 100rem;
  text-align: center;
}

#intro {
  font-size: 175%;
  color: #dcd5c7;
  background-color: #4f5d2f;
  height: 24%;
}

.content {
  height: auto; /*this made the left text have less height*/
  flex: 1;
  margin-top: 0.5%;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1%;
  padding-right: 1%;
  background-color: #fbfaf2;
  position: relative;
  font-family: "Nova Mono", monospace;
  font-weight: 500;
  font-size: 1.25rem;
  flex-basis: 50%;
  padding-bottom: 1%;
}

.navlink {
  position: absolute;
  font-family: "Nova Mono", monospace;
  display: inline-flex;
  margin-right: 6.5vw;
  right: 0;
  flex-direction: row;
  height: 10%;
  margin-top: 1vw;
  top: 0;
}

.topnav {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 0.2vw;
  transition: background-size cubic-bezier(0, 0.5, 0, 1) 0.3s;
  color: #161212; /*change*/
  font-size: 40px;
  padding-left: 3%;
  padding-right: 3%;
  justify-content: flex-end;
  height: 70%;
}

a:hover,
a:focus {
  text-decoration: none;
  background-size: 100% 0.1vw;
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #45502a; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  font-family: "Nova Mono", monospace;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color: #fbfaf2;
  font-weight: 300;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #797979;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.dropdownBtn {
  margin-top: 1%;
  right: 0;
  margin-right: 5%;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-right 0.5s; /* If you want a transition effect */
  padding: 0px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

@media screen and (max-width: 1100px) {
  .topnav {
    display: none;
  }
}

@media screen and (min-width: 1100px) {
  .hidden {
    display: none;
  }
}
