html {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #222629;
}

.swal-modal {
  font-family: Helvetica;
}
/* @media screen and (max-width: 650px) {
    .title {
        font-size: 500%;
        display: none;
   }
   .smallTitle {
    font-size: 50%; 
   }
}

@media screen and (min-width: 650px) {
    .smallTitle {
        font-size: 50%;
        display: none;
   }
} */

#dropdown {
  position: fixed;
}
/* .main {
    border-color: black;
} */
.nav {
  font-family: "Major Mono Display", monospace;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  height: 3.5rem;
  width: 100%;
  float: left;
  height: 10%;
}

.title {
  font-size: 500%;
  color: #61892f;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 4%;
  width: 3%;
  right: 0;
}

#contactForm {
  padding-left: 10%;
  right: 40%;
  padding-top: 5.5vw;
  font-family: "Major Mono Display", monospace;
}

.contIn {
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  align-items: center;

}

.para {
  color: #61892f;
  display: inline-flex;
  /* margin-left: 8%; */
  position: relative;
  font-family: "Major Mono Display", monospace;
  font-weight: bold;
  left: 0;
  left: 5.5%;
  width: 5%; /*TODO add width cos main page brokey lol */
}
.para2 {
  color: #61892f;
  display: inline-flex;
  position: relative;
  font-family: "Major Mono Display", monospace;
  font-weight: bold;
  left: 0;
  width: 15rem;
}

#submitButton {
  background-color: #61892f;
  border: solid #222629;
  font-family: 'Roboto Mono', monospace;
  font-size: 2rem;
  font-weight: 600;
  min-width: 10rem;
  max-width: 10rem;
  border-radius: 5px;
  margin-top: 1rem;
  
}

#submitButton:hover{
  cursor: pointer;
  background-color: #3f5820;
}

.contactInput {
  left: 40%;
  width: 75%;
  font-size: 1rem;
  font-family: 'Roboto Mono', monospace;
  background-color: #202020;
  color: white;
  outline: none;
  border: 0.1px solid;
  
  
}

.smallContactInput {
  width: 20rem;
  height: 2.5rem;
  font-size: 1rem;
  font-family: 'Roboto Mono', monospace;
  background-color: #202020;
  color: white;
  border-style: solid;
  text-align: center;
  outline: none;
  
}







/* .smallTitle {
    font-size: 500%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 1%;
    width: 10%;
    right: 0;
    color: #86C232;
} */

.navlink {
  display: inline-flex;
  margin-right: 10vw;
  right: 0;
  flex-direction: row;
  height: 10%;
  position: fixed;
}

.topnav {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 0.2vw;
  transition: background-size cubic-bezier(0, 0.5, 0, 1) 0.3s;
  color: #6b6e70;
  font-size: 40px;
  padding-left: 3%;
  padding-right: 3%;
  justify-content: flex-end;
  height: 70%;
}

a:hover,
a:focus {
  text-decoration: none;
  background-size: 100% 0.1vw;
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #474b4f; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  font-family: "Major Mono Display", monospace;
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color: #61892f;
  font-weight: 100;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.dropdownBtn {
  right: 0;
  margin-right: 10%;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-right 0.5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

@media screen and (max-width: 1100px) {
  a {
    display: none;
  }
}

@media screen and (min-width: 1100px) {
  .hidden {
    display: none;
  }
}
